@font-face {
    font-family:groundnut-font;
    src: url(groundnut-font/Groundnut-yxPm.otf);
}

h1 {
    font-family:groundnut-font; 
    font-size: 115px;
    margin: auto;
    text-align: center;
    width: 50%;
    padding: 350px;
  }

  h2 {
    font-family:groundnut-font; 
    font-size: 60px;
    margin: auto;
    width: 50%;
    padding: 50px;
    text-align: center;
  }

  h3 {
    font-family:groundnut-font; 
    font-size: 85px;
    margin: auto;
    width: 70%;
    padding: 250px;
    text-align: center;
  }

  p{
    font-family:groundnut-font; 
    font-size: 30px;
    margin: auto;
    width: 80%;
    padding: 100px;
    word-spacing: 4px;
  } 

.iconss{
  display: flex;
  justify-content: space-around;
  width: 100vw;
  
  position:absolute;
  top:70%;
  height: 100%;
  width: 100%;

  img{
    max-height: 250px;
  }
}
/*SUPPERTIME*/ 
#img-menu{
  max-height: 1200px;
  padding: 60px;
}

#img-strips{
  max-height: 600px;
  padding: 60px;
}
/*END SUPPERTIME*/ 

/*WISE WORDS*/ 
#img-words{
  max-height: 1200px;
}
/*END WISE WORDS*/


/* NAV BAR */
/* Dropdown Button */
.dropbtn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-family:groundnut-font;
  font-size: 40px;
  border: none;
  img{
    max-height: 90px;
  }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f100;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0);
  z-index: 1;
  img{
    max-height: 120px;
  }
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ffffff00;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #ffffff;}
/* NAV BAR END */


/* TIMLINE/HISTORY BEGIN */
.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 700px;
  position: relative;
}

.timeline__content-title {
  font-weight: normal;
  font-size: 100px;
  font-family:groundnut-font;
  margin: -10px 0 0 0;
  transition: .4s;
  padding: 0 10px;
  box-sizing: border-box;
  color: #fff;
}

.timeline__content-desc {
  margin: 0;
  font-size: 25px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.717);
  font-family:groundnut-font;
  font-weight: normal;
  line-height: 25px;
}
.timeline:before {
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgba(255, 255, 255, 0.05);
}
@media only screen and (max-width: 767px) {
  .timeline:before {
    left: 40px;
  }
}
.timeline-item {
  padding: 40px 0;
  opacity: .3;
  filter: blur(2px);
  transition: .5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-80px);
}
.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgba(255, 255, 255, 0.528);
  font-size: 13px;
  font-family: groundnut-font;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px );
}
.timeline-item:nth-child(even) {
  align-self: flex-end;
}
.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px );
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
}
.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}
.timeline-item--active:before {
  top: 50%;
  transition: .3s all .2s;
  opacity: 1;
}
.timeline-item--active .timeline__content-title {
  margin: -50px 0 20px 0;
}
@media only screen and (max-width: 767px) {
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
  }
  .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }
  .timeline-item:last-child {
    padding-bottom: 40px;
  }
}
.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  background-attachment: fixed;
  background-size: cover;
}
.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 99, 99, 0.489);
  content: "";
}
.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  font-size: groundnut-font;
}
.timeline-header__title {
  color: #fff;
  font-size: 115px;
  font-family: groundnut-font;
  font-weight: normal;
  margin: 30px 0 0 0;
  text-align: center;
}
.timeline-header__subtitle {
  color: rgba(255, 255, 255, 0.775);
  font-family: groundnut-font;
  font-size: 60px;
  letter-spacing: 4px;
  margin: 10px 0 0 0;
  font-weight: normal;
}

/*GANG BEGIN*/
#img-gang{
  max-height: 450px;
}

#simple-grid, #gallery-grid{
  width: 100%;
  margin-bottom: 2vw;
}

.gal-item{
  width: 100%;
  aspect-ratio: 1;
}

/*GANG END*/

